<!-- -*- nxml -*-
     Generic confirmation dialog
  -->
<div id="modalConfirm" class="reveal" data-reveal=""
     data-close-on-click="false" data-close-on-esc="false">
  <!-- THINKME:: Better using <h1> and applying a custom style, than
       to start with <h4>. -->
  <h4>Confirmation</h4>
  <p data-message="">
  </p>
  <div class="button-group align-right">
    <button type="button" class="small secondary button" name="secondary" />
    <button type="button" class="small primary button" name="primary" />
  </div>
</div>
