<!-- -*- nxml -*- -->
<div class="card">
  <div class="card-section">
    <div class="grid-x grid-margin-x">
      <label class="cell shrink">
        <!-- "Overworld:" or "Nether:" -->
        <span data-dimension=""></span>:
      </label>
      <div class="cell auto input-group">
        <span class="input-group-label">X</span>
        <input class="input-group-field" type="number" step="any" data-for="x" />
      </div>
      <div class="cell auto input-group">
        <span class="input-group-label">Y</span>
        <input class="input-group-field" type="number" step="any" data-for="y" />
      </div>
      <div class="cell auto input-group">
        <span class="input-group-label">Z</span>
        <input class="input-group-field" type="number" step="any" data-for="z" />
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell shrink">
        Info:
      </div>
      <div class="cell auto nl-coords-info" data-for="info">
      </div>
    </div>
  </div>
</div>
