<!-- -*- nxml -*- -->
<div id="modalEditPortal" class="reveal" data-reveal=""
     data-close-on-click="false">
  <form>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <label>
            Name:
            <input type="text" name="name" required="" />
          </label>
        </div>
        <div class="cell">
          <label>
            Color (only used for visualization):
            <input type="color" name="color" required="" />
          </label>
        </div>
        <div class="cell">
          <div class="float-right">
            <button type="button" class="small secondary button" name="cancel">Cancel</button>
            <button type="submit" class="small button">Done</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
