@import "~foundation-sites/scss/util/util";

$table-padding: rem-calc(2 4) !default;

$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

$header-styles: (
  "small": (
    "h1": ("font-size": 18),
    "h2": ("font-size": 17),
    "h3": ("font-size": 16),
    "h4": ("font-size": 15),
    "h5": ("font-size": 14),
    "h6": ("font-size": 13),
  ),
  "medium": (
    "h1": ("font-size": 25),
    "h2": ("font-size": 22),
    "h3": ("font-size": 20),
    "h4": ("font-size": 19),
    "h5": ("font-size": 18),
    "h6": ("font-size": 17),
  ),
);
