<div id="modalNewWorld" class="reveal" data-reveal="">
  <form>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <label>
            Enter a name for a new world:
            <input type="text" name="name" required="" />
          </label>
        </div>
        <div class="cell">
          <div class="float-right">
            <button type="button" class="small secondary button" name="cancel">Cancel</button>
            <button type="submit" class="small button">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
